
.signup-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #1f2937;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .signup-btn {
    width: 100%;
    padding: 12px;
    background: rgb(43,58,103);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .signup-btn:hover {
    background: white;
    color: rgb(43,58,103);
    border: 1px solid rgb(43,58,103)
  }
  